.wrap {
  height: 100px;
  width: 500px;

}
.a img{
  width: 160px;
  height: 200px;
}
li {
  list-style: none;
  display: inline-block;
}
table{
  position: relative; /* 今の位置を基準 */
  top: 30px; /* 上から10px */
  left: 60px; /* 左から20px */
}

