
.name1{
    position: absolute; /* ä»Šã®ä½ç½®ã‚’åŸºæº– */
    top: 200px; /* ä¸Šã‹ã‚‰10px */
    left: 550px; /* å·¦ã‹ã‚‰20px */
     width: 300px;
    }

.name2{
     position: absolute; /* ä»Šã®ä½ç½®ã‚’åŸºæº– */
     top: 220px; /* ä¸Šã‹ã‚‰10px */
     left: 550px; /* å·¦ã‹ã‚‰20px */
     line-height: 1.5;
     width: 6em;
    line-height: 1.5;
     width: 300px;
    }

.pasu1{
    position: absolute; /* ä»Šã®ä½ç½®ã‚’åŸºæº– */
     top: 300px; /* ä¸Šã‹ã‚‰10px */
    left: 550px; /* å·¦ã‹ã‚‰20px */
     width: 300px;
    }

.pass2{
    position: absolute; /* ä»Šã®ä½ç½®ã‚’åŸºæº– */
     top: 320px; /* ä¸Šã‹ã‚‰10px */
    left: 550px; /* å·¦ã‹ã‚‰20px */
    line-height: 1.5;
     width: 300px;
    }


.rogu{
    position: absolute; /* ä»Šã®ä½ç½®ã‚’åŸºæº– */
     top: 410px; /* ä¸Šã‹ã‚‰10px */
    left: 660px; /* å·¦ã‹ã‚‰20px */
    width: 6em;
    }

.sinki{
    position: absolute; /* ä»Šã®ä½ç½®ã‚’åŸºæº– */
     top: 500px; /* ä¸Šã‹ã‚‰10px */
     left: 990px; /* å·¦ã‹ã‚‰20px */
    
    }
    

    