img{
    width: 160px;
    height: 160px;
}
.review{
    border: 4px solid;
    margin: 15px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.submit{
    position: relative;
    left: 500px;
    bottom: 1200px;
}
.review1{
    position: relative;
    left: 640px;
    font-size: 200%;
}
.pagination{
position: relative;
    left: 690px;
}
.heder{
    background-color: yellow;
}
.back{
    position: relative;
    font-size: 250%;
    bottom: 40px;
    }
    