
img{
    width: 160px;
    height: 160px;
}
.wrap {
    height: 100px;
    width: 500px;
}
.name1{
    position: relative; /* 今の位置を基準 */
    top: 30px; /* 上から10px */
    left: 200px; /* 左から20px */
    font-size:  20px; /* フォントサイズ調整*/
}
.kensaku{
    margin: 15%;
    position: relative; /* 今の位置を基準 */
    top: 4px; /* 上から10px */
    left: 250px; /* 左から20px */
     line-height: 1.5;
     width: 100%;
}
.gazou1{
    position: relative; /* 今の位置を基準 */
    top: 0px; /* 上から10px */
    left: 300px; /* 左から20px */
}
.name2{
    position: relative; /* 今の位置を基準 */
    top: -100px; /* 上から10px */
    left: 500px; /* 左から20px */
}
