img{
  width: 160px;
  height: 160px;
}
html.body{
height: 100%;
width: 0px;
}

.iti{
  position: relative; /* ä»Šã®ä½ç½®ã‚’åŸºæº– */
   /* ä¸Šã‹ã‚‰10px */
  left: 325px; /* å·¦ã‹ã‚‰20px */
width: 700px;
}
.button {
  width: 6em;
  height:2em;
  border-radius:30px;
}
.kakutei{
   position: relative; 
  left: 960px; 
width: 300px;
}