img{
    width: 160px;
    height: 160px;
}
html.body{
  height: 100%;
  width: 0px;
}

.iti{
    position: absolute; /* 今の位置を基準 */
    top: 190px; /* 上から10px */
    left: 325px; /* 左から20px */
}
.button {
    width: 6em;
    height:2em;
    border-radius:30px;
  }
.kakutei{
     position: absolute; /* 今の位置を基準 */
    top:  429px; /* 上から10px */
    left: 940px; /* 左から20px */
}

