img{
    width: 160px;
    height: 160px;
}

.wrap {
     height: 100px;
     width: 300px;
}

 .name1{
    position: relative; /* 今の位置を基準 */
    top: 3px; /* 上から10px */
    left: 290px; /* 左から20px */
    }

.name2{
     position: relative; /* 今の位置を基準 */
     top: 5px; /* 上から10px */
     left: 450px; /* 左から20px */
     line-height: 1.5;
     width: 100%;
    }

.pasu1{
    position: relative; /* 今の位置を基準 */
     top: 50px; /* 上から10px */
    left: 300px; /* 左から20px */
    }

.pass2{
    position: relative; /* 今の位置を基準 */
     top: 50px; /* 上から10px */
    left: 450px; /* 左から20px */
    line-height: 1.5;
    width: 100%;
    }


.rogu{
    position: relative; /* 今の位置を基準 */
     top: 100px; /* 上から10px */
    left: 500px; /* 左から20px */
    }

.sinki{
    position: relative; /* 今の位置を基準 */
     top: 90px; /* 上から10px */
     left: 850px; /* 左から20px */
    }
    

    