.name{
    position: absolute; /* 今の位置を基準 */
    top: 200px; /* 上から10px */
    left: 530px; /* 左から20px */
}

.nametext{
    position: absolute; /* 今の位置を基準 */
    top: 200px; /* 上から10px */
    left: 583px; /* 左から20px */
}

.meru{
    position: absolute; /* 今の位置を基準 */
    top: 250px; /* 上から10px */
    left: 470px; /* 左から20px */
}
.merutext{
    position: absolute; /* 今の位置を基準 */
    top: 250px; /* 上から10px */
    left: 583px; /* 左から20px */
}

.denha{
    position: absolute; /* 今の位置を基準 */
    top: 300px; /* 上から10px */
    left: 515px; /* 左から20px */
}
.denhatext{
    position: absolute; /* 今の位置を基準 */
    top: 300px; /* 上から10px */
    left: 583px; /* 左から20px */
}

.pasu{
    position: absolute; /* 今の位置を基準 */
    top: 350px; /* 上から10px */
    left: 500px; /* 左から20px */
}
.pasutext{
    position: absolute; /* 今の位置を基準 */
    top: 350px; /* 上から10px */
    left: 580px; /* 左から20px */
}
.pasukaku{
    position: absolute; /* 今の位置を基準 */
    top: 399px; /* 上から10px */
    left: 465px; /* 左から20px */
}


.pasutext_confirm{
    position: absolute; /* 今の位置を基準 */
    top: 399px; /* 上から10px */
    left: 580px; /* 左から20px */
}

.kakusubmit{
    position: absolute; /* 今の位置を基準 */
    top: 600px; /* 上から10px */
    left: 700px; /* 左から20px */
}

.kupon{
    position: absolute; /* 今の位置を基準 */
    top: 430px; /* 上から10px */
    left: 450px; /* 左から20px */
    width: 150px;
}

.kuponlist{
    position: absolute; /* 今の位置を基準 */
    top: 445px; /* 上から10px */
    left: 620px; /* 左から20px */
     width: 250px;
}
.kuponno{
    position: absolute; /* 今の位置を基準 */
    top:450px; /* 上から10px */
    left: 585px; /* 左から20px */
     width: 250px;
}