.warp {
    height: 100px;
    width: 500px;

}
.g{
    position: relative; /* 今の位置を基準 */
    top: 30px; /* 上から10px */
    left: 500px; /* 左から20px */
    font-size:  20px; /* フォントサイズ調整*/
    width: 300px;
    height: 400px;
}
p{
     position: relative; /* 今の位置を基準 */
    top: 100px; /* 上から10px */
    left: 300px; /* 左から20px */
    font-size:  20px; /* フォントサイズ調整*/

}
.z{
     position: relative; /* 今の位置を基準 */
    top: 0px; /* 上から10px */
    left: 0px; /* 左から20px */
    font-size:  20px; /* フォントサイズ調整*/

}
.f{
     position: relative; /* 今の位置を基準 */
    top: -50px; /* 上から10px */
    left: 300px; /* 左から20px */
    font-size:  20px; /* フォントサイズ調整*/

}